@model List<SearAlertingServiceCore.Alert>

<html>
<head>
    <title>SEAR Alerts</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row" style="padding-bottom: 10px">

            <h1>SEAR Alerts</h1>
        </div>

        <div class="row">
            
            <h2>@Model.Count Alerts</h2>

            @foreach (var alert in Model)
            {
            <div class="col-sm-3" style="margin: 5px; border: 2px solid @Raw(alert.HasTriggered ? "red" : "black"); min-height: 250px">

            @if (alert.HasTriggered && alert.WhenTriggered.HasValue)
            {
                <span style="font-family: Consolas; font-size: small">Triggered: @alert.WhenTriggered.Value.ToString("dd-MM-yyyy hh:mm:ss UTC")</span>
            }

            <h4>@alert.Name</h4>

            <div>
                Interval: @alert.Interval <br />
                Trigger: @alert.HitType than @alert.Hits <br />
                Status: @(alert.HasTriggered ? "Triggered" : "Not Triggered") <br />
                <a title="@(alert.SimpleQuery != null ? alert.SimpleQuery.ToString() : alert.AdvancedQuery)">Query</a> <br />

                <div>
                    <h5>Actions:</h5>

                    @foreach (var action in alert.Actions)
                    {
                        @: <a title="@action.ToString()">@action.ActionType</a> [<a href="@action.Link">*</a>] - Escalation: @action.EscalationTimeSpan mins <br />
                    }

                </div>

            </div>


        </div>

            }

        </div>

        </div>
</body>
</html>